.offer_heading{
    margin-left: 6vw;
    width: 90vw;
}

.offer_container {
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    position: absolute;
  }
  
  .sub-div {
    position: relative;
    width: 22vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 8px ;
  }
  
  .sub-div img {
    border: 2px solid black;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .sub-div p {
    margin: 0;
    text-align: center;
  }
  